<style>
    h1{
      font-family:'Georgia', 'cursive';
    }
    .input-group{
        margin-top: 10px;
        
    }
    .table{
        margin-top: 10px;
        
    }
    
</style>    
<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color: aliceblue;"> 🏡Property Home</h1>
          <div class="d-flex">
            <button [routerLink]= "['/']" type="button" data-bs-toggle="modal" 
               class="btn btn-outline-light btn-lg fw-bold text-center mr-1" style="color: rgb(15, 15, 15); font-family:'Georgia', 'cursive';">Logout </button>
                 
            </div>
       </div>
</nav>

<body>
    <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Search By Type" aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary mr-3">search</button><br>
  
        <input type="search" class="form-control rounded" placeholder="Search By City" aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary">search</button>
      </div>

      <table class="table ">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Property Type</th>
            <th scope="col">City</th>
            <th scope="col">Offer Type</th>
            <th scope="col">Price(in Rupees)</th>
            <th scope="col">Deal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of propDetail">
            <td>{{row.prop_id}}</td>
            <td>{{row.prop_type}}</td>
            <td>{{row.city}}</td>
            <td>{{row.offer_type}}</td>
            <td>{{row.price}}</td>
            <td><button type="button" class="btn btn-dark" [routerLink]="['/deal']">Deal</button></td>
          </tr>
        </tbody>
      </table>
</body>